{% extends "layout.html" %}

{% block title %}
    Flack
{% endblock %}

{% block body %}
    <h1>Welcome to Flack!</h1>
    
    <h2> Please create a username</h2>

      
            
                    <div class="form-group">
                      <label for="exampleInputEmail1">Username</label>
                      <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Create username" name="username">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="hello()">Sign Up</button>
   


    

{% endblock %}